/**
 * ! index.html - Page Classes and others
 */

html {
    scroll-behavior: smooth;
}

 .apply-font {
    font-family: 'Heebo', serif;
 }

.black-and-white {
    filter: saturate(0);
}

.fix-image-sizing {
    width: 53%;
}

.custom-font {
    font-family: 'Heebo', sans-serif;
}

.middle-image-fix {
    width: 250px;
}

.rotate-image {
    transform: rotateY(180deg);
}

::-webkit-scrollbar {
    background-color: var(--color1);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 10px;
}