@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Vollkorn:wght@600&display=swap');

*{margin:0;padding:0;box-sizing:border-box;color:white;}

:root {
    --color0: #111111;
    --color1: #474747;
    --color2: #a0a0a0;
    --color3: #d6d6d6;
    --color4: #ff7c31;
}

body {
    background-color: var(--color0);
}

header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/** 
 * HEADER
*/

#header-title, #header-nav a {
    color: white;
}

#header-title {
    font-size: 32px;
    font-weight: 100;
    min-width: 250px;
    text-transform: none;
    font-family: 'Vollkorn', serif;
}

#header-nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 25px;
}

/**
 * MAIN CONTENT
 */
#main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
}

#main-text-container h1 {
    font-weight: 100;
    font-family: 'Vollkorn', serif;
}

#main-text-container p {
    color: var(--color1);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

/** 
 * MIDDLE
 */
#middle-content-container {
    background-color: var(--color3);
    min-height: 80vh;
}

/**
 * FOOTER
 */
footer {
    background-color: var(--color0);
    min-height: 80vh;
}

@media screen and (max-width:700px) {
    nav {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-title {
        text-align: center;
    }

    #main-text-container {
        font-size: 22px;
        padding: 0px 25px;
    }
}